<div class="container">
        <div class="row">
                <div class="col-md-4">
                        <form>
                                <div class="form-group">
                                  <input type="text" [(ngModel)]="searchExpense.keyword" name="keyword" (input)="displayExpenses()" class="form-control" id="inputSearchHelp" aria-describedby="searchHelp" placeholder="Search expenses">
                                </div>
                        </form>
                </div>
                <div class="col-md-4">
                        <select name="sortBy" [(ngModel)]="searchExpense.sortBy" (change)="displayExpenses()" class="form-control">
                                <option>Name</option>
                                <option>Amount</option>
                        </select>
                </div>

        </div>
        <div class="row">
                <div class="col-md-4">
                        <button class="btn btn-primary" routerLink="/add-expense">Add Expense</button>
                </div>
        </div>
        
        <!-- <input type="text" [(ngModel)]="searchExpense.keyword" name="keyword" (input)="displayExpenses()"> -->
        
        <!-- <div *ngFor="let expense of expenses">
                <h3> {{ expense.expense }}</h3>
                <p> {{ expense.description }}</p>
                <p> {{ expense.amount | currency: "USD" }}</p>
                <button class="btn btn-success" routerLink="/edit-expense/{{expense.id}}">Edit</button>
                <button class="btn btn-danger" (click)="deleteExpense(expense.id)">Delete</button>
        </div> -->

        <div class="row">
                <div class="col-6 pt-3" *ngFor="let expense of expenses">
                        <div class="card">
                                <div class="card-header">
                                        {{ expense.expense }}
                                </div>
                                <div class="card-body">
                                        <p class="card-text">{{ expense.description }}</p>
                                        <p class="card-text">{{ expense.amount | currency: "USD" }}</p>
                                        <button class="btn btn-success" routerLink="/edit-expense/{{expense.id}}">Edit</button>
                                        <button class="btn btn-danger" (click)="deleteExpense(expense.id)">Delete</button>
                                </div>
                              </div>
                </div>
        </div>
        

</div>
