<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a routerLink="/expenses" class="btn btn-link">Go Back</a>
        </div>
        <div class="col-md-6"></div>
    </div>

        <div class="card">
            <div class="card-header">
                Add Expense
            </div>
            <div class="card-body">
                <form #expenseForm="ngForm" (ngSubmit)="saveExpense()">
                    <div class="form-group">
                        <input type="text"  id="expense" class="form-control" [(ngModel)]="expense.expense" name="expense" placeholder="Enter the expense name"
                        #expenseName="ngModel"
                        [ngClass]="{'is-invalid': expenseName.errors && expenseName.touched}"
                        minlength="2"
                        required>

                        <!-- validations -->
                        <div [hidden]="!expenseName.errors?.required"
                            class="invalid-feedback">
                        Expense name required
                        </div>

                        <div [hidden]="!expenseName.errors?.minlength"
                            class="invalid-feedback">
                            Must be at least 2 characters
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="text"  id="description" class="form-control" [(ngModel)]="expense.description" name="description" placeholder="Enter a description"
                        #expenseDesc="ngModel"
                        [ngClass]="{'is-invalid': expenseDesc.errors && expenseDesc.touched}"
                        
                        required>

                        <!-- validations -->
                        <div [hidden]="!expenseName.errors?.required"
                            class="invalid-feedback">
                        Must provide description
                        </div>
                    </div>


                

                    <div class="form-group">
                        <input type="number"  id="amount" class="form-control" [(ngModel)]="expense.amount" name="amount" placeholder="Enter the amount"
                        #expenseAmount="ngModel"
                        [ngClass]="{'is-invalid': expenseAmount.errors && expenseAmount.touched}"
                        minlength="2"
                        required>
                        <!-- validation -->
                        <div [hidden]="!expenseAmount.errors?.required"
                            class="invalid-feedback">
                        Expense amount required
                        </div>
                    </div>

                    
     



                    <input type="submit" value="Submit" class="btn btn-primary" [disabled]="!expenseForm.valid">
                    <button *ngIf="expense.id" (click)="delete(expense.id)" class="btn btn-danger">Delete</button>
                    <br>
                    <a routerLink="/expenses" class="btn btn-link">Go Back</a>
                </form>
            </div>
        </div>
    
</div>
